.go__home {
  display: flex;
  justify-content: flex-end;
  margin: 2rem;

  &--link {
    width: 12rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding: 1rem 2rem;
  }
}
