$color-primary: #f38e82;
$color-grad-1: #fbdb89;
$color-grad-2: #f48982;
$color-light-background-1: #f9f5f3;
$color-light-background-2: #f2efee;
$color-dark-line-1: #b4b4b4;
$color-normal-text-1: #615551;
$color-light-text-2: #918581;

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  color: $color-normal-text-1;
  background-image: linear-gradient(
    to right bottom,
    $color-grad-1,
    $color-grad-2
  );
  background-size: cover;
  background-repeat: no-repeat;
}
