.btn,
.link {
  padding: 1.5rem 4rem;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  background-image: linear-gradient(
    to right bottom,
    $color-grad-1,
    $color-grad-2
  );
  border-radius: 10rem;
  border: none;
  text-transform: uppercase;
  color: #fff;
  transition: all 0.4s;

  &:hover {
    transform: scale(1.05);
  }
}
