.recipe {
  background-color: $color-light-background-1;

  &__box {
    position: relative;
  }

  &__fig {
    height: 35rem;
    position: relative;

    &::before {
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-image: linear-gradient(
        to right bottom,
        $color-grad-1,
        $color-grad-2
      );
      opacity: 0.6;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 20%) skewY(-6deg);
    color: #fff;
    font-size: 3.25rem;
    text-transform: uppercase;
    line-height: 1.95;
    text-align: center;

    span {
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
      background-image: linear-gradient(
        to right bottom,
        $color-grad-1,
        $color-grad-2
      );
      padding: 1.3rem 2rem;
    }
  }

  &__details {
    display: flex;
    align-items: center;
    padding: 7.5rem 8rem 3.5rem 8rem;
  }

  &__info {
    font-size: 1.6rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-right: 4.5rem;
    }

    &--data {
      font-weight: bold;
      margin-right: 0.5rem;
    }

    &--buttons {
      display: flex;
      margin-left: 1.6rem;
      gap: 2rem;
    }
  }

  &__ingredients {
    font-size: 1.6rem;
    background-color: $color-light-background-2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 8rem;
  }

  &__list {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem 3rem;
  }

  &__item {
    display: flex;
  }

  &__quantity {
    margin-right: 0.5rem;
  }
}

.heading {
  font-size: 2rem;
  text-transform: uppercase;
  color: $color-primary;
  text-align: center;
  margin-bottom: 2.5rem;
}
.message {
  max-width: 40rem;
  margin: 0 auto;
  padding: 5rem 4rem;

  p {
    margin-left: 1.5rem;
    font-size: 1.8rem;
    line-height: 1.5;
    font-weight: 600;
  }
}
.btn--servings {
  padding: 0.5rem 1rem;
  font-size: 1.8rem;
  font-weight: 600;
  color: #fff;
  border-radius: 5rem;
  border: none;
  transition: all 0.6s;
  background-color: $color-primary;
}
.btn--minus {
  padding: 0.5rem 1.2rem;
}
