.header {
  grid-area: head;
  background-color: $color-light-background-1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15rem;
  border-bottom: 1px solid $color-grad-1;

  &__logo {
    margin-left: 4rem;
    height: 5rem;
  }
}
recipe-search {
  background-color: $color-light-background-1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid $color-grad-1;
}

.search {
  font-family: "Nunito Sans", sans-serif;
  grid-area: search;
  background-color: #fff;
  border-radius: 10rem;
  display: flex;
  align-items: center;
  padding-left: 3rem;

  &__field {
    border: none;
    background: none;
    font-family: inherit;
    color: inherit;
    font-size: 1.7rem;
    width: 30rem;

    &:focus {
      outline: none;
    }
  }
}
