.pagination {
  margin-top: auto;
  padding: 0 3.5rem;
}
.btn--prev {
  float: left;
}
.btn--next {
  float: right;
}
.page__btn {
  $btn-background-light: $color-light-background-1;
  $btn-background-dark: $color-light-background-2;

  padding: 0.8rem 1.2rem;
  font-size: 1.3rem;
  font-weight: 600;
  color: $color-primary;
  border-radius: 10rem;
  border: none;
  transition: all 0.6s;
  background-color: $btn-background-light;

  &:hover {
    background-color: $btn-background-dark;
  }
}
