.search__results {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
}

.results {
  list-style: none;
}

.preview {
  &__link {
    display: flex;
    align-items: center;
    padding: 1.5rem 3.25rem;
    text-decoration: none;
    transition: all 0.3s;

    &:hover {
      background-color: $color-light-background-1;
      transform: translateY(-2px);
    }
  }

  &__fig {
    flex: 0 0 5.8rem;
    border-radius: 50%;
    overflow: hidden;
    height: 5.8rem;
    margin-right: 2rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__data {
    width: 100%;
  }

  &__title {
    font-size: 1.6rem;
    color: $color-primary;
    text-transform: uppercase;
    font-weight: 600;
    text-overflow: ellipsis;
    max-width: 25rem;
    white-space: nowrap;
    overflow: hidden;
  }

  &__publisher {
    font-size: 1.2rem;
    color: $color-light-text-2;
    text-transform: uppercase;
  }
}
